.admin-main{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.9;
    display: flex;
}
.form-admin{
    width: 340px;
    height: 330px;
    /* font-family: Arial, Helvetica, sans-serif; */
    background-color: black;
    opacity: 0.8;
    margin: auto;
    color: black;
    font-weight: bold;
}
.form-login{
    width: 340px;
    height: 45%;
    background-color: black;
    opacity: 0.8;
    margin: auto;
    color: black;
    font-weight: bold;
}
.form-admin > input{
    padding: 8px;
}
.submit2{
    height: 35px;
}
.submit2:hover{
    cursor: pointer;
    background-color: green;
    color: white;
}
.hide{
    background-color: transparent;
    margin-left: -48px;
    margin-top: -3px;
}