.home-main-container{
    width: 100%;
    height: 900px;
    /* background-image: url("../Images/Home/main.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}
.home-div1{
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100px;
    /* border: 1px solid white; */
    margin: auto;
    font-size: 25px;
}
.home-b1{
    width: 128px;
    height: 37px;
    border-radius: 6px;
    color: black;
    font-size: 1.1rem;
    background-color: #eabe72;
}
.home-div1 > p{
    font-size: 30px;
    margin-left: 100px;
}
.home-b1:hover{
    background-color: #ffc767;
}
.home-div2{
    /* border: 1px solid white; */
    font-size: 13px;
    color: #ffc767;
    letter-spacing: 4px;
    margin-top: 8%;
}
.home-div2 > img{
    width: 20%;
    margin: 3px auto ;
}
.home-div3{
    width: 48%;
    margin: 35px auto;
    /* border: 1px solid white; */
}
.home-div3 > div:nth-child(1){
    font-size: 85px;
    letter-spacing: 4px;
    line-height: 95px;
}
.home-div3 > p{
    margin: 15px auto;
    font-size: 1.2rem;
}
.home-div3 > button{
    padding: 12px 20px;
    border: 3px solid #eabe72;
    color: #ffca6f;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 2px;
    margin: 20px auto;
}
.home-div4{
    width: 9%;
    float: right;
    margin: 4% 4% 0 0;
    /* border: 1px solid white; */
}
.home-div4 > img{
    width: 100%;
}

.variety-main-container{
    width: 100%;
    height: 900px;
    /* background-image: url("../Images/Home/bg1.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.7; */
}
.variety{
    width: 80%;
    margin: auto;
    padding-top: 70px;
    font-size: 14px;
    color: #ffc767;
    letter-spacing: 2px;
    /* border: 1px solid white; */
}
.variety > img{
    width: 80%;
    margin: 3px auto ;
}
.variety-grid{
    width: 70%;
    height: 90%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: auto;
    padding-top: 50px;
    /* background-color: black; */
    /* border: 1px solid white; */
}
.variety-grid > div:nth-child(1){
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
}
.variety-grid > div:nth-child(2){
    width: 100%;
    /* border: 1px solid white; */
}
.variety-grid > div:nth-child(3){
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
}
.variety-grid > div:nth-child(1) > div{
    width: 80%;
    height: 55%;
    background-image: url("../Images/Home/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 30px;
}
.variety-grid > div:nth-child(1) > div >img{
    width: 88%;
    margin: 17px 40px;
}
.variety-grid > div:nth-child(1) > div > p:nth-child(2){
    margin: 40px 0 0 40px;
}
.variety-grid > div:nth-child(1) > div > p:nth-child(3){
    font-size: 12px;
    color: #ffc767;
    margin: 15px 0 0 35px;
}
.variety-grid > div:nth-child(2) > p{
    margin: 20px auto 0;
    font-size: 50px;
    /* border: 1px solid white; */
}
.variety-offer > div:nth-child(2){
    width: 25%;
    margin: 5px auto;
}
.grid-2{
    width: 70%;
    height: 50%;
    margin: auto;
    margin-top: 40px;
    background-image: url("../Images/Home/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid transparent;
}
.grid-2 >img{
    width: 78%;
    height: 90%;
    margin: 17px 32px;
}
.grid-2 > p:nth-child(2){
    margin-top: 40px;
}
.grid-2 > p:nth-child(3){
    font-size: 12px;
    color: #ffc767;
    margin: 15px;
}
.variety-grid > div:nth-child(3) > div{
    width: 80%;
    height: 55%;
    background-image: url("../Images/Home/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid white; */
    margin-right: 30px;
}
.variety-grid > div:nth-child(3) > div >img{
    width: 88%;
    height: 92%;
    margin: 17px 40px;
}
.variety-grid > div:nth-child(3) > div > p:nth-child(2){
    margin: 40px 0 0 50px;
}
.variety-grid > div:nth-child(3) > div > p:nth-child(3){
    font-size: 12px;
    color: #ffc767;
    margin: 15px 0 0 48px;
}

.story-main-container{
    width: 100%;
    height: 900px;
    /* background-image: url("../Images/Home/bg2.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    /* align-items: center; */
}
.story-cont1{
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    /* border: 1px solid white; */
}
.story-div1{
    width: 38%;
    /* border: 1px solid white; */
}
.story-div1 > p:nth-child(1){
    width: 35%;
    margin: 12px auto;
    padding-top: 160px;
    font-size: 1rem;
    color: #ffc767;
}
.story-div1 > img{
    width: 80%;
    margin: 15px auto ;
}
.story-div1 > p:nth-child(3){
    width: 100%;
    font-size: 45px;
    letter-spacing: 4px;
    line-height: 55px;
    margin: auto;
}
.story-div1 > p:nth-child(4){
    width: 76%;
    font-size: 1.1rem;
    margin: 30px auto;
}
.story-book{
    width: 80%;
    margin: 30px auto;
}
.story-book > p:nth-child(1){
    width: 80%;
    font-size: 1rem;
    margin: 3px auto;
}
.story-book > p:nth-child(2){
    width: 80%;
    font-size: 1rem;
    color: #ffc767;
    font-family: Arial, Helvetica, sans-serif;
    margin: 3px auto;
}
.story-book > button{
    padding: 10px 20px;
    border: 3px solid #eabe72;
    color: #ffca6f;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 2px;
    margin: 20px auto;
}
.story-div2{
    width: 55%;
    /* border: 1px solid white; */
}
.story-img-div1{
    width: 95%;
    float: right;
    padding-top: 160px;
    border-radius: 10px;
    /* border: 1px solid white; */
}
.story-img-div1 > img{
    width: 100%;
    border-radius: 10px;
}
.img-div2{
    width: 36%;
    height: 300px;
    background-image: url("../Images/Home/background.png");
    margin: -65px -65px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
}
.img-div2 > img{
    width: 80%;
    height: 90%;
    margin: auto;
}
.bg-container{
    width: 100%;
    height: 900px;
    /* background-image: url("../Images/Home/bg3.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}
.bg-flex{
    width: 90%;
    height: 80%;
    padding-top: 160px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.bg-flex > div:nth-child(1){
    width: 100%;
    height: 100%;
    display: flex;
    /* border: 1px solid white; */
}
.bg-flex > div:nth-child(1) > img{
    align-items: center;
    width: 100%;
    /* border: 1px solid white; */
}
.bg-flex > div:nth-child(2){
    width: 100%;
    height: 60%;
    text-align: left;
    /* border: 1px solid white; */
}
.bg-flex > div:nth-child(2) > div:nth-child(1){
    width: 40%;
    margin: 0 60px;
    font-size: 1rem;
    color: #ffca6f;
    letter-spacing: 3px;
    /* text-align: center; */
    /* border: 1px solid white; */
}
.bg-flex > div:nth-child(2) > div:nth-child(1) > img{
    /* border: 1px solid white; */
    margin-top: 4px ;
    width: 50%;
}
.bg-flex > div:nth-child(2) > div:nth-child(2){
    width: 60%;
    /* border: 1px solid white; */
    margin: 10px 60px;
}
.bg-flex > div:nth-child(2) > div:nth-child(2) > p:nth-child(1){
    font-size: 35px;
    /* text-align: center; */
}
.bg-flex > div:nth-child(2) > div:nth-child(2) > p:nth-child(2){
    font-size: 1rem;
    /* text-align: center; */
}
.bg-flex > div:nth-child(2) > div:nth-child(2) > div {
    width: 100%;
    height: 100px;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
}
.bg-flex > div:nth-child(2) > div:nth-child(2) > div > button{
    border: 3px solid #eabe72;
    color: #ffca6f;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 2px;
    padding: 10px 20px;
}
@media screen and (min-width: 360px) and (max-width: 900px){
    .home-main-container{
        width: 100%;
        height: 1000px;
    }
    .home-div1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 200px;
        margin: 70px auto;
        /* border: 1px solid white; */
    }
    .home-div1 > p{
        font-size: 40px;
        margin: auto;
    }
    .home-div2{
        /* border: 1px solid white; */
        font-size: 20px;
    }
    .home-b1{
        width: 40%;
        height: 50px;
        font-size: 1.1rem;
    }
    .home-div2 > img{
        width: 80%;
        margin: 3px auto ;
    }
    .home-div3{
        width: 80%;
        border: 1px solid white;
    }
    .home-div3 > div:nth-child(1){
        margin-top: 50px;
        font-size: 55px;
        letter-spacing: 4px;
        line-height: 75px;
    }
    .home-div3 > p{
        margin: 18px auto;
        font-size: 1.5rem;
    }
    .bg-flex{
        /* border: 1px solid white; */
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .bg-flex > div:nth-child(2) > div:nth-child(1){
        margin-top: 40px;
        /* border: 1px solid white; */
    }
    .story-cont1{
        width: 75%;
        display: flex;
        flex-direction: column;
        margin: auto;
        /* border: 1px solid white; */
    }
    .story-book{
        display: none;
    }
    .story-div1{
        width: 100%;
        margin: -100px auto;
        /* border: 1px solid white; */
    }
    .story-div2{
        width: 100%;
        margin: auto;
        margin-top: -20px;
        /* border: 1px solid white; */
    }
    .img-div2{
        display: none;
    }
    .bg-flex > div:nth-child(2) > div:nth-child(1){
        width: 50%;
        margin: 30px auto;
        text-align: center;
        /* border: 1px solid white; */
    }
    .bg-flex > div:nth-child(2) > div:nth-child(1) > img{
        margin-top: 4px ;
        width: 100%;
    }
    .bg-flex > div:nth-child(2) > div:nth-child(2){
        width: 80%;
        margin: auto;
    }
    .bg-flex > div:nth-child(2) > div:nth-child(2) > p:nth-child(1){
        text-align: center;
        margin-top: -10px;
        /* border: 1px solid white; */
    }
    .bg-flex > div:nth-child(2) > div:nth-child(2) > p:nth-child(2){
        margin-top: 10px;
        text-align: center;
    }
    .bg-flex > div:nth-child(2) > div:nth-child(2) > button{
        margin: 20px 68px;
    }  
    .bg-flex > div:nth-child(1) > img{
        margin-top: -100px;
    }
    .bg-flex > div:nth-child(2) > div:nth-child(2) > div {
        width: 100%;
        height: 50px;
        /* border: 1px solid white; */
        display: flex;
        margin-top: 5px;
    }
    .bg-flex > div:nth-child(2) > div:nth-child(2) > div > button{
        border: 3px solid #eabe72;
        letter-spacing: 2px;
        padding: 8px 20px;
        margin: auto;
    }
    .variety{
        width: 100%;
        margin: auto;
        padding-top: 70px;
        font-size: 14px;
        color: #ffc767;
        letter-spacing: 2px;
        /* border: 1px solid white; */
    }
    .variety > div:nth-child(1) {
        width: 100%;
        font-size: 28px;
        /* border: 1px solid white; */
    }
    .variety > div > img{
        width: 100%;
        margin: 3px auto ;
    }
    .variety-grid{
        width: 80%;
        height: 90%;       
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid white; */
    }
    .variety-grid > div:nth-child(1){
        display: none;
    }
    .variety-grid > div:nth-child(2){
        width: 50%;
        align-items: center;
    }
    .variety-grid > div:nth-child(3){
        width: 50%;
        /* border: 1px solid white; */
    }
    .grid-2{
        display: none;
    }
    .variety-grid > div:nth-child(3) > div{
        width: 80%;
        height: 300px;
        background-image: url("../Images/Home/img1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;
        /* border: 1px solid white; */
    }
    .variety-grid > div:nth-child(3) > div >img{
        display: none;
    }
    .variety-grid > div:nth-child(3) > div > p:nth-child(2){
        margin: 50px auto;
        font-size: 25px;
    }
    .variety-grid > div:nth-child(3) > div > p:nth-child(3){
        display: none;
    }
}


@media screen and (min-width: 360px) and (max-width: 700px){
    .variety-grid{
        width: 80%;
        height: 90%;       
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 40px
        /* border: 1px solid white; */
    }
    .variety-grid > div:nth-child(1){
        display: none;
    }
    .variety-grid > div:nth-child(2){
        margin-top: -20px;
        width: 100%;
        align-items: center;
    }
    .variety-grid > div:nth-child(3){
        width: 100%;
        /* border: 1px solid white; */
    }
    .variety-grid > div:nth-child(2) > p{
        width: 100%;
        margin: 20px auto 0;
        font-size: 40px;
        /* border: 1px solid white; */
    }
    .variety-offer > p{
        display: none;
    }
}

@media screen and (min-width: 901px) and (max-width: 1300px){
    .story-div1{
        display: none;
    }
    .story-div2{
        width: 100%;
        margin-top: 8%;
        display: flex;
        /* border: 1px solid white; */
    }
    .story-img-div1{
        width: 70%;
        height: 100%;
        margin: auto;
        padding-top: 0px;
        border-radius: 10px;
        /* border: 1px solid white; */
    }
    .story-img-div1 > img{
        width: 100%;
        border-radius: 10px;
    }
    .img-div2{
        width: 100%;
        height: 360px;
        background-image: url("../Images/Home/img3.jpg");
        margin: auto;
        border-radius: 15px;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid white; */
    }
    .img-div2 > img{
       display: none;
    }
}