*{
    scroll-behavior: smooth;
}
.signup-main{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 720px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    display: flex;
}
.form-signup{
    width: 340px;
    height: 70%;
    /* font-family: Arial, Helvetica, sans-serif; */
    background-color: black;
    opacity: 0.8;
    margin: auto;
    color: black;
    font-weight: bold;
}
.form-login{
    width: 340px;
    height: 46%;
    /* font-family: Arial, Helvetica, sans-serif; */
    background-color: black;
    opacity: 0.8;
    margin: auto;
    color: black;
    font-weight: bold;
}
.form-login > input{
    padding: 8px;
}
input,select{
    width: 70%;
    padding: 4px 4px 4px 8px;
    color: black;
    font-size: 16px;
    font-weight: bold;
}
.p1{
    font-size: 35px;
    font-weight: bold;
    color: white;
    margin-top: 15px;
}
.submit{
    width: 100px;
    border-radius: 5px;
    border: 2px solid gray;
    cursor: pointer;
}
.submit:hover {
    background-color: green;
}
.p2{
    font-size: 1rem;
    font-weight: 100;
    color: white;
    padding-top: 10px;
}
.l:hover{
    color: rgb(0, 89, 255);
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: underline;
}
.submit2{
    width: 100px;
    border-radius: 5px;
    border: 2px solid gray;
    cursor: pointer;
    background-color: white;
    color: black;
}
.hide1{
    background-color: transparent;
    margin-left: -48px;
    margin-top: -4px;
}
.pass,.pass1{
    padding: 8px;
}